* {
  margin: 0;
  padding: 0;
  font-family: "Castoro Titling", cursive;
}
body {
  width: 100%;
  height: 100%;
  background-image: url("https://img.freepik.com/premium-photo/image-colorful-galaxy-sky-generative-ai_791316-9864.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 30%;
  justify-content: center;
  background-color: aliceblue;
}
header .log {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .log .logo {
  display: flex;
  gap: 10px;
}
header .log .logo a {
  text-decoration: none;
  color: black;
  margin-left: 50px;
}
.container {
  height: 70vh;
  width: 100%;

  align-items: center;
  justify-content: center;
  display: flex;
}
.container .palyer {
  margin-top: 100px;
  width: 400px;
  height: 600px;
  padding: 20px;
  background-color: rgb(72, 67, 67);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
}
.container .palyer div {
  margin-top: 40px;
  text-align: center;
}
.container .palyer .author h2 {
  font-size: 40px;
  color: aqua;
  font-family: "Castoro Titling", cursive;
}
.container .palyer .musicname h3 {
  font-family: "Bruno Ace SC", cursive;
  font-family: "Castoro Titling", cursive;
  color: cornflowerblue;
  font-size: 30px;
}
.container .palyer .animation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.container .palyer .animation div {
  border-radius: 15px;
}
.container .palyer .animation .long {
  width: 10px;
  height: 85px;
  background-color: cyan;
  animation: 1s;
  animation: animation-long infinite alternate 0.5s;
}
.container .palyer .animation .medium {
  width: 10px;
  height: 70px;
  background-color: cyan;
  animation: 0.7s;
  animation: animation-medium infinite alternate 0.5s;
}
.container .palyer .animation .small {
  width: 10px;
  height: 50px;
  background-color: cyan;
  animation: animation-small infinite alternate 0.5s;
}
@keyframes animation-long {
  0% {
    width: 10px;
    height: 35px;
    background-color: rgb(10, 121, 121);
  }
  100% {
    width: 10px;
    height: 50px;
    background-color: cyan;
  }
}
@keyframes animation-medium {
  0% {
    width: 10px;
    height: 50px;
    background-color: rgb(84, 231, 231);
  }
}
@keyframes animation-small {
  0% {
    width: 10px;
    height: 70px;
    background-color: rgb(162, 247, 247);
  }
}
